---
const { from } = Astro.props;
const { to } = Astro.props;
const { company } = Astro.props;
const { position } = Astro.props;
const { companyKind } = Astro.props;
const { link } = Astro.props;
const { doing } = Astro.props;
---

<span class="bigtext">
    {
        typeof to === "string"
            ? `${from}–${to}`
            : to > from
              ? `${from}–${to}`
              : from || to
    }
    {company}
    <a href={link} target="_blank" style="text-decoration: none"
        >&#x2197;&#xFE0E;</a
    >
</span>
<br />
{
    position && companyKind
        ? `${position}, ${companyKind}`
        : position || companyKind
}
{
    doing && (
        <>
            <br />
            <span class="gray simple-link" set:html={doing} />
        </>
    )
}
<br />
<br />
