---
const { frontmatter } = Astro.props;
import Layout from "../layouts/Layout.astro";
---

<Layout
    title={frontmatter.title}
    ogImage={frontmatter.image}
    ogDescription={frontmatter.description}
>
    <div class="space"></div>

    <div id="modal" class="modal">
        <span class="close">&times;</span>
        <img class="modal-content" id="modalImg">
        <div id="caption" class="caption"></div>
    </div>

    <script>
        import "../scripts/modal.js";
    </script>

    <section class="project">
        <h1>{frontmatter.title}</h1>
        <p class="bigtext">{frontmatter.description}</p>

        <video src={frontmatter.video} title={frontmatter.title + " clip"}
        ></video>

        <slot />

        { frontmatter.links && Object.keys(frontmatter.links).length > 0 && (
            Object.keys(frontmatter.links).map((link) => (
                <a href={frontmatter.links[link].url} target="_blank">
                    {frontmatter.links[link].text}
                </a>
                <br />
            ))
        )}
    </section>
</Layout>
